.DS_STORE

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Virtualenv related
bin/
include/
pip-selfcheck.json

# Django related
chroma/settings/.env
chroma/settings/development.py

staticfiles/

codes.py
db.sqlite3










