<div class="footer">
    <div class="container">
        <div class="row align-items-center no-gutters border-top py-2">
            <div class="col-md-6 col-12 text-center text-md-left">
                <span>© 2022 Chroma. All Rights Reserved.</span>
            </div>
            <div class="col-12 col-md-6">
                <nav class="nav nav-footer justify-content-center justify-content-md-end">
                    {% for i in pages %}
                    <a class="nav-link" href="{{i.get_absolute_url}}">{{i.name}}</a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
</div>